.categories {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  /* margin-top: 50px; */
  gap: 50px;
}

.categories-title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  padding: 0;
  list-style: none;
}

li {
  margin: 5px;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 16px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}
.btn-category {
  background-color: rgb(0, 59, 121);
}

button:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}

button:active {
  transform: scale(0.98);
}
