.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  padding: 20px;
  background-color: #242424;
  align-items: stretch;
}
.loading-text {
  color: white;
  font-size: 28px;
  margin: 20px;
}
